<ul class="video-list">
  <video-list-entry ng-if="$ctrl.list[0]" video="$ctrl.list[0]" ><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.list[1]" video="$ctrl.list[1]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.list[2]" video="$ctrl.list[2]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.list[3]" video="$ctrl.list[3]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.list[4]" video="$ctrl.list[4]"><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
</ul>
