<ul class="video-list">
  <video-list-entry ng-if="$ctrl.videos[0]" video="$ctrl.videos[0]" on-click="$ctrl.onEntryClick"></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.videos[1]" video="$ctrl.videos[1]" on-click="$ctrl.onEntryClick"></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.videos[2]" video="$ctrl.videos[2]" on-click="$ctrl.onEntryClick"></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.videos[3]" video="$ctrl.videos[3]" on-click="$ctrl.onEntryClick"></video-list-entry>
  
  <video-list-entry ng-if="$ctrl.videos[4]" video="$ctrl.videos[4]" on-click="$ctrl.onEntryClick"></video-list-entry>
</ul>
